@model MuseoDescalzos.Models.ClientesUsuarios

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head> 
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>

<h2>@ViewData["Title"]</h2>

<h3>Clientes</h3>
<table id="clientesTable" class="table display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Tipo de Documento</th>
            <th>Número de Documento</th>
            <th>País</th>
            <th>Número de Tarjeta</th>
            <th>Titular</th>
            <th>Fecha de Nacimiento</th>
            <th>Fecha de Registro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@cliente.IDCliente</td>
                <td>@cliente.Nombres</td>
                <td>@cliente.Apellidos</td>
                <td>@cliente.TipoDoc</td>
                <td>@cliente.NumDoc</td>
                <td>@cliente.Pais</td>
                <td>@cliente.NumTarjeta</td>
                <td>@cliente.Titular</td>
                <td>@cliente.FechaNacimiento.ToShortDateString()</td>
                <td>@cliente.FechaRegistro.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#clientesTable').DataTable();
    });
</script>
