@using Microsoft.AspNetCore.Identity;
@using System.Collections.Generic;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User)){
    IdentityUser myidentity = await Task.Run(() => UserManager.GetUserAsync(User));
    var roles = await Task.Run(() => UserManager.GetRolesAsync(myidentity));

    @if(roles.Contains("admin") ){
        <li class="nav-item mb-4">
            <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Index">
               <span class="material-symbols-outlined">shield_person</span> 
               Menú Principal Administrador</a>
        </li>
    }
    else if(roles.Contains("guia")){
        <li class="nav-item mb-4">
            <a class="nav-link text-white" asp-area="" asp-controller="GuiaDashboard" asp-action="Index">
               <span class="material-symbols-outlined">tour</span> 
               Tareas para Guía</a>
        </li>
        <li class="nav-item mb-4">
            <a class="nav-link text-white" asp-area="" asp-controller="GuiaDashboard" asp-action="Visitas">
               <span class="material-symbols-outlined">star</span> 
               Listado visitas</a>
        </li>
    }
    else{
            <ul class="navbar-nav me-auto mb-0 mb-lg-0 mx-auto">
                <li class="nav-item mx-4">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <span class="material-symbols-outlined">home</span>
                        <p class="title-link">Inicio</p>
                    </a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="@Url.Action("Listar", "Evento")">
                        <span class="material-symbols-outlined">attach_money</span>
                        <p class="title-link">Catálogo</p>
                    </a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="@Url.Action("Visita", "Home")">
                        <span class="material-symbols-outlined">calendar_month</span>
                        <p class="title-link">Visita</p>
                    </a>
                </li>
                 <li class="nav-item mx-4">
                    <a class="nav-link" href="@Url.Action("Index", "Carrito")">
                        <span class="material-symbols-outlined icon">shopping_cart</span>
                        <p class="title-link">Carrito</p>
                    </a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="@Url.Action("Index", "Contacto")">
                        <span class="material-symbols-outlined icon">email</span>
                        <p class="title-link">Contacto</p>
                    </a>
                </li>
            </ul>
    }

}