@using MUSEO_DE_LOS_DESCALZOS.ViewModel
@model EventoViewModel

@{
    ViewData["Title"] = "Listado de Eventos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .estado-disponible {
        width: 20px;
        height: 20px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
    }

    .estado-no-disponible {
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
    }
</style>

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.min.css" />

<div class="content flex-grow-1" id="contenido">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3">@ViewData["Title"]</h1>
        <hr>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title d-flex align-items-center">
                <i class="fa-sharp fa-solid fa-person"></i> Historial de Eventos
            </h5>
        </div>
        <div class="card-body">
            <!-- Botón para abrir el modal de crear nuevo guía -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal"
                id="btnCrear">
                Crear Nuevo Evento
            </button>
            <hr>
            <div class="container">
                <table id="guiaTable" class="table table-striped table-bordered" style="padding: 10px;">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                            <th>Precio</th>
                            <th>Capacidad</th>
                            <th>Nombre de la imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var evento in Model.ListEvento)
                        {
                            <tr>
                                <td>@evento.Nombre</td>
                                <td>@evento.Descripción</td>
                                <td>@evento.Fecha</td>
                                <td>@evento.Precio</td>
                                <td>@evento.Capacidad</td>
                                <td>@evento.NombreImagen</td>
                                <td>
                                    <!-- Botón para abrir el modal de editar guía -->
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#myModal" onclick="editEvento('@evento.IDEvento')">
                                        <i class="fa-solid fa-pencil"></i>
                                    </button>
                                    <form asp-action="Eliminar" asp-controller="Guia" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="@evento.IDEvento" />
                                        <button type="button" class="btn btn-danger btn-sm"
                                            onclick="confirmarEliminacion('@evento.IDEvento')">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Crear/Editar Guía -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1D3860; color: white;">
                <h5 class="modal-title" id="myModalLabel">Crear Guía</h5>
            </div>
            <div class="modal-body">
                <form asp-controller="Evento" asp-action="Guardar" method="post" id="formEvento">
                    <input type="hidden" asp-for="FormEvento.IDEvento" id="IDEvento" />
                    <div class="grid grid-cols-2 gap-4 mb-4">
                        <div>
                            <label asp-for="FormEvento.Nombre" class="block text-gray-700">Nombre</label>
                            <input type="text" id="nombres" class="w-full border border-gray-300 rounded p-2"
                                asp-for="FormEvento.Nombre">
                        </div>
                        <div>
                            <label asp-for="FormEvento.Descripción" class="block text-gray-700">Descripción</label>
                            <input type="text" id="apellidos" class="w-full border border-gray-300 rounded p-2"
                                asp-for="FormEvento.Descripción">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FormEvento.Fecha" class="block text-gray-700">Fecha</label>
                        <input type="Date" id="correo" class="w-full border border-gray-300 rounded p-2"
                            asp-for="FormEvento.Fecha">
                    </div>
                    <div class="grid grid-cols-2 gap-4 mb-4">
                        <div>
                            <label asp-for="FormEvento.Precio" class="block text-gray-700">Precio</label>
                            <input type="text" id="tipo_pago" class="w-full border border-gray-300 rounded p-2"
                                asp-for="FormEvento.Precio">
                        </div>
                        <div>
                            <label asp-for="FormEvento.Capacidad" class="block text-gray-700">Capacidad</label>
                            <input type="text" id="sueldo" class="w-full border border-gray-300 rounded p-2"
                                asp-for="FormEvento.Capacidad">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="FormEvento.NombreImagen" class="block text-gray-700">NombreImagen</label>
                        <input type="file" id="correo" class="w-full border border-gray-300 rounded p-2"
                            asp-for="FormEvento.NombreImagen">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="confirmarGuardar()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('#eventoTable').DataTable({
                lengthMenu: [3, 5, 7, 9],
                pageLength: 5
            });
            $('#eventoTabletarea').DataTable({
                lengthMenu: [3, 5, 7, 9],
                pageLength: 5
            });

            window.editEvento = function (idEvento) {
                $.ajax({
                    url: '@Url.Action("GetGuiaById", "Guia")',
                    type: 'GET',
                    data: { id: idEvento },
                    success: function (data) {
                        $('#IDEvento').val(data.IDEvento);
                        $('#nombres').val(data.nombres);
                        $('#descripcion').val(data.descripcion);
                        $('#fecha').val(data.fecha);
                        $('#precio').val(data.precio);
                        $('#capacidad').val(data.capacidad);
                        $('#NombreImagen').val(data.NombreImagen);
                        $('#myModalLabel').text('Editar Evento');
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }

            $('#btnCrear').click(function () {
                $('#IDEvento').val(0);
                $('#nombres').val('');
                $('#descripcion').val('');
                $('#fecha').val('');
                $('#precio').val('');
                $('#sueldo').val('');
                $('#NombreImagen').val('');
                $('#myModalLabel').text('Crear Guía');
            });
        });

        function confirmarGuardar() {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "¡No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, guardar"
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#formEvento').submit();
                }
            });
        }
        function confirmarEliminacion(idEvento) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "¡No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    var form = $('<form>', {
                        'method': 'POST',
                        'action': '@Url.Action("Eliminar", "Evento")'
                    }).append($('<input>', {
                        'type': 'hidden',
                        'name': 'id',
                        'value': idEvento
                    }));

                    $('body').append(form);
                    form.submit();
                }
            });
        }
        let eventoId = null;

        function setGuiaId(id) {
            eventoId = id;
            $('#eventoId').val(id);
        }

        /*
        function confirmarAsignarTarea() {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "¿Quieres asignar esta tarea al guía?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, asignar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#taskForm').submit();
                }
            });
        }*/
    </script>

}