@using MUSEO_DE_LOS_DESCALZOS.ViewModel
@model EventoViewModel

@{
    ViewData["Title"] = "Lista de Eventos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.min.css" />

<div class="content flex-grow-1" id="contenido">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3">@ViewData["Title"]</h1>
        <hr>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title d-flex align-items-center">
                <i class="fa-sharp fa-solid fa-person"></i> Historial de Talleres
            </h5>
        </div>
        <div class="card-body">
            <!-- Botón para abrir el modal de crear nuevo guía -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal"
                id="btnCrear">
                Crear Evento
            </button>
            <hr>
            <div class="container">
                <table id="guiaTable" class="table table-striped table-bordered" style="padding: 10px;">
                    <tr>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Capacidad</th>
                        <th>Precio</th>
                        <th>Fecha</th>
                        <th>Imagen</th>
                        <td>Acciones</td>
                    </tr>
                    <tbody>
                        @foreach (var evento in Model.ListEvento)
                        {
                            <tr>
                                <td>@evento.Nombre</td>
                                <td>@evento.Descripción</td>
                                <td>@evento.Capacidad</td>
                                <td>@evento.Precio</td>
                                <td>@evento.Fecha</td>
                                <td>@evento.NombreImagen</td>
                                <td>
                                    <!-- Botón para abrir el modal de editar evento -->
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#myModal" onclick="editEvento('@evento.IDEvento')">
                                        <i class="fa-solid fa-pencil"></i>
                                    </button>
                                    <form asp-action="Eliminar" asp-controller="EventoAdmin" method="post"
                                        style="display:inline;">
                                        <input type="hidden" name="id" value="@evento.IDEvento" />
                                        <button type="button" class="btn btn-danger btn-sm"
                                            onclick="confirmarEliminacion('@evento.IDEvento')">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal para Crear/Editar Alquiler -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #1D3860; color: white;">
                    <h5 class="modal-title" id="myModalLabel">Crear Talleres</h5>
                </div>
                <div class="modal-body">
                    <form asp-controller="EventoAdmin" asp-action="Guardar" method="post" id="formAlquiler">
                        <input type="hidden" asp-for="FormEvento.IDEvento" id="IDEvento" />
                        <div class="grid grid-cols-2 gap-4 mb-4">
                            <div>
                                <label asp-for="FormEvento.Nombre" class="block text-gray-700">Titulo</label>
                                <input type="text" id="titulo" class="w-full border border-gray-300 rounded p-2"
                                    asp-for="FormEvento.Nombre">
                            </div>
                            <div>
                                <label asp-for="FormEvento.Descripción"
                                    class="block text-gray-700">Caracteristicas</label>
                                <input type="text" id="caracteristicas"
                                    class="w-full border border-gray-300 rounded p-2" asp-for="FormEvento.Descripción">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label asp-for="FormEvento.Capacidad" class="block text-gray-700">Capacidad</label>
                            <input type="email" id="capacidad" class="w-full border border-gray-300 rounded p-2"
                                asp-for="FormEvento.Capacidad">
                        </div>
                        <div class="grid grid-cols-2 gap-4 mb-4">
                            <div>
                                <label asp-for="FormEvento.Precio" class="block text-gray-700">Precio</label>
                                <input type="number" id="imagen" class="w-full border border-gray-300 rounded p-2"
                                    asp-for="FormEvento.Precio">
                            </div>
                            <div>
                                <label asp-for="FormEvento.Fecha" class="block text-gray-700">Fecha</label>
                                <input type="date" id="disponible" class="w-full border border-gray-300 rounded p-2"
                                    asp-for="FormEvento.Fecha">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label asp-for="FormEvento.RutalImagen" class="block text-gray-700">Imagen</label>
                            <input type="file" id="capacidad" class="w-full border border-gray-300 rounded p-2"
                                asp-for="FormEvento.Fecha">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"
                                onclick="confirmarGuardar()">Siguiente</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            $(document).ready(function () {
                $('#guiaTable').DataTable({
                    responsive: true,
                    autoWidth: false,
                    lengthMenu: [3, 5, 7, 9],
                    pageLength: 5
                });

                window.editEvento = function (idEvento) {
                    $.ajax({
                        url: '@Url.Action("GetGuiaById", "EventoAdmin")',
                        type: 'GET',
                        data: { id: idEvento },
                        success: function (data) {
                            $('#').val(data.idEvento);
                            $('#nombre').val(data.nombre);
                            $('#caracteristicas').val(data.caracteristicas);
                            $('#capacidad').val(data.capacidad);
                            $('#Precio').val(data.Precio);
                            $('#fecha').val(data.fecha);
                            $('#RutaImagen').val(data.RutaImagen);
                            $('#myModalLabel').text('Editar Evento');
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                title: "Error",
                                text: "Hubo un error al obtener los datos del evento.",
                                icon: "error"
                            });
                            console.log(error);
                        }
                    });
                }

                $('#btnCrear').click(function () {
                    $('#IDEvento').val(0);
                    $('#nombre').val('');
                    $('#caracteristicas').val('');
                    $('#capacidad').val('');
                    $('#Precio').val('');
                    $('#RutaImagen').val('');
                    $('#fecha').text('Crear Alquiler');
                });
            });

            // Define la función confirmarEliminacion fuera del ready para que sea accesible globalmente
            function confirmarEliminacion(idEvento) {
                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "¡No podrás revertir esto!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, eliminar",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        var form = $('<form>', {
                            'method': 'POST',
                            'action': '@Url.Action("Eliminar", "EventoAdmin")'
                        }).append($('<input>', {
                            'type': 'hidden',
                            'name': 'id',
                            'value': idEvento
                        }));

                        $('body').append(form);
                        form.submit();
                    }
                });
            }
        </script>
    }
